<!DOCTYPE html>
<html lang="en">

<head>
  <title>Term & Privacy</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <%- include('partials/navbar.ejs') %>

  <div style="padding: 50px;">
    <ul style="list-style-type:none;">
      <li style="float: left;">
        <a href="/term">Term of Use</a> <br>
        <a href="/privacy">Privacy Policy</a> <br>
        <a href="/community-policy/#">Community Policy</a>
      </li>
      <li style="margin-left: 200px; margin-right: 100px;">
        <h2>Community policy</h2>
        <p>By accessing and using Netflux.com or its associated apps (the “Service”), you accept and agree to be bound
          by these terms and conditions (“Terms”), taken from our wider terms of use:</p>
        <ul>
          <li>We expect members of our community to be courteous and respectful of others’ opinions and to refrain from
            posting unwelcome, aggressive, suggestive or otherwise inappropriate remarks directed at another member.
          </li>
          <li>You must not use the Service for any malicious means, or to abuse, harass, threaten, intimidate or
            impersonate any other member. You must not request or attempt to solicit personal or identifying information
            from another member.</li>
          <li>You must not use the Service to promote, engage in or incite hate, violence, discrimination or
            intolerance, including based on race, age, gender, gender identity, ethnicity, religion, disability or
            sexual orientation.</li>
          <li>You must set the spoiler flag on any review that contains significant plot spoilers, and you must not post
            plot spoilers in list descriptions/notes or comment threads.</li>
          <li>We reserve the right to remove any content which we consider to be offensive, objectionable, unlawful or
            otherwise in breach of our Terms, including content that expressly praises, supports, promotes or represents
            white nationalist ideology. If you do not abide by our Terms, we may terminate or suspend your account.</li>
          <li>Basically, be excellent to each other.</li>
        </ul>
      </li>
    </ul>
  </div>

</body>

</html>