<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="fontawesome-stars.css">
  <title>Movies Review</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: red;">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-item navbar-brand" href="/">
        <img src="https://www.flaticon.com/premium-icon/icons/svg/2504/2504929.svg" width="30" height="30"
          class="d-inline-block align-top" alt="">
        Netflux
      </a>
    </ul>
  </nav>
  <br>

  <div class="container">
    <div class="row">
      <div class="col">
        <a style="color: aliceblue;" href='/movies/<%= movie.MovieId %>'><%= movie.title %></a><br>
        <img style="padding-top: 20px;" src="<%= movie.poster %>">
      </div>
      <%=/* review.dataValues.reviewTitle */%>
      <div class="col">
        <form method="POST" action="/reviews/<%= review.dataValues.id %>/edit">
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <br><br>
          <div class="form-group">
            <input type="text" class="form-control" name="reviewTitle" placeholder="Brief description"
              value="<%= review.dataValues.reviewTitle %>">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="3" name="description" placeholder="What do you think about the movie?"><%= review.dataValues.description %>
          </textarea>
          </div>
          <center>
            <button type="submit" class="btn btn-outline-success">Submit</button>
          </center>
        </form>
      </div>

    </div>
  </div>


  <%- include('../views/partials/style.ejs')%>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </script>
</body>

</html>