<!DOCTYPE html>
<html lang="en">

<head>
  <title>Term & Privacy</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <%- include('partials/navbar.ejs') %>

  <div style="padding: 50px;">
    <ul style="list-style-type:none;">
      <li style="float: left;">
        <a href="/term">Term of Use</a> <br>
        <a href="/privacy/#">Privacy Policy</a> <br>
        <a href="/community-policy">Community Policy</a>
      </li>
      <li style="margin-left: 200px; margin-right: 100px;">
        <h2>Privacy policy</h2>
        <ol>
          <li>Your privacy: Netflux is committed to ensuring the privacy of your information.</li>
          <li>Application: This Privacy Policy applies to all personal information submitted by you on Netflux.com (the
            “Website”), or via an official Netflux app (the “App”), or via use of the Netflux API (the “API”), and any
            information that may be automatically retrieved through your use of these channels.</li>
          <li>Consent: By accepting our Terms of Use and this Privacy Policy when you create a Netflux account, and by
            accessing and using the Website, App or API, you consent to the collection, use, disclosure, storage and
            processing of your information in accordance with this Privacy Policy.</li>
          <li>Changes to Privacy Policy: We may amend or update this Privacy Policy from time to time, with or without
            notice to you. You agree to be bound by the Privacy Policy that is in effect at the time you access and use
            the Website, App or API.</li>
          <li>Personal information: In order to use particular services that we offer, you may need to submit certain
            personal information such as your email address, name, address, telephone number, gender and date of birth.
            You may be asked to submit further information from time to time. If you connect your Facebook or Twitter
            accounts to your account with Netflux, we will access these accounts to identify which of your friends on
            those services are also using Netflux.</li>
          <li>Cookies: A cookie is a small piece of data that is stored on your computer or mobile device. Like many
            websites, we use cookies and similar technologies to collect additional website usage data and to operate
            our services. Although most web browsers automatically accept cookies, many browsers’ settings can be set to
            decline cookies or alert you when a website is attempting to place a cookie on your computer. However, some
            of our services may not function properly if you disable cookies. When your browser or device allows it, we
            use both session cookies and persistent cookies to keep you signed in, to better understand how you interact
            with our services, to monitor aggregate usage patterns, and to personalize and otherwise operate our
            services such as by providing account security and personalized content.</li>
          <li>Log data: We also receive information when you view content on, or otherwise interact with, our services,
            which we refer to as “Log Data”, even if you have not created a Netflux account. This Log Data includes
            information such as your IP address, browser type, operating system, the referring web page, pages visited,
            location, your mobile carrier, device information (including device and application IDs), search terms, and
            cookie information. We use Log Data to operate our services and to ensure their secure, reliable, and robust
            performance. For example, we use Log Data to protect the security of your account and to determine what
            features are popular on our services. We also use this data to improve the content we show you and to
            identify potential misuse of our services.</li>
          <li>Use of information: The personal information you provide us will only be used in relation to the services
            we provide you, to communicate with you in relation to our services or to co-operate with any government,
            industry or regulatory authorities.</li>
          <li>Disclosure of information: Unless you have expressly authorised us to do so, we will not disclose your
            personal information to any third party except where disclosure relates to the purposes for which the
            information was collected (as stated in paragraph 8 above).</li>
          <li>Access to and updates of information: You may request at any time to access the personal information that
            we hold on your behalf or to correct or update any of your personal information (to the extent that you are
            unable to do so yourself on the Website). If you have registered an account with Netflux, you can access,
            correct, delete, or modify the personal information you provided to us and associated with your account via
            your Settings page.</li>
          <li>Storage of information: We will securely store your personal information in the United States, although
            you acknowledge and agree that your personal information may be transferred outside of the United States in
            connection with the services we offer, as further set out in clause 12 below.</li>
          <li>Global operations and Privacy Shield: To bring you our services, we operate globally. Where the laws of
            your country allow you to do so, you authorize us to transfer, store, and use your data in the United
            States, New Zealand and any other country where we might operate. In some of the countries to which we
            transfer personal data, the privacy and data protection laws and rules regarding when government authorities
            may access data may vary from those of your country. When we transfer personal data outside of the European
            Union or EFTA States, we ensure an adequate level of protection for the rights of data subjects based on the
            adequacy of the receiving country’s data protection laws, contractual obligations placed on the recipient of
            the data, or EU-US and Swiss-US Privacy Shield principles</li>
          <li>Retention: We will hold your personal information both before and after the deactivation or your account,
            but only for as long as we are lawfully entitled to do so, or until you request that we permanently delete
            it.</li>
          <li>Deactivation and deletion: Your account can be deactivated in Settings, and you can request permanent
            deletion via email following deactivation. When deactivated, your Netflux account, including your username,
            profile and content will no longer be viewable on the Website, App or API, but they will be retained unless
            and until you separately request permanent deletion via email. If you don’t request deletion, then it is
            possible to request the reactivation of your account if it was accidentally or wrongfully deactivated. We
            cannot restore permanently deleted accounts.</li>
          <li>Portability: Netflux provides you a means to download the information you have shared through our services
            by using the account export option on your Settings page.</li>
          <li>Security: You must keep any login, password or account information relating to your use of the Website
            secure at all times, and must immediately notify us of any unauthorized use of such information or any other
            breach of security. We will not be liable for any loss or damage if you fail to comply with this security
            obligation.</li>
          <li>Captcha: This site is protected by reCAPTCHA and the Google <a
              href="https://policies.google.com/privacy">Privacy Policy</a> and <a
              href="https://policies.google.com/terms">Terms of Service</a> apply.</li>
        </ol>
      </li>
    </ul>
  </div>

</body>

</html>